# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/
src/*_assets

# frontend code
node_modules/
dist/

# package
package-lock.json
Cargo.lock